<template>
  <div class="MovieDb">
    
    <md-toolbar class="top-bar">
      <h1 class="logo">MovieDB UI</h1>
      <md-input-container>
        <md-icon class="md-warn">local_movies</md-icon>
        <input
          id="searchInput"
          class="md-input"
          type="text"
          v-model="query"
          v-stream:keyup="{ subject: onKeyUp$, data: query }"
          placeholder="enter movie title..." />
        </input>
      </md-input-container>
    </md-toolbar>

    <movie-list :movies="moviesList$"></movie-list>

  </div>
</template>

<script>

import 'rxjs/add/observable/fromEvent'
import 'rxjs/add/operator/filter'
import 'rxjs/add/operator/mergeMap'
import 'rxjs/add/operator/debounceTime'
import 'rxjs/add/operator/distinctUntilChanged'
import 'rxjs/add/operator/pluck'

import { findMovies } from '../services/moviedb.service'

import MovieList from '@/components/MovieList'

export default {
  name: 'Main',
  data () {
    return {
      query: ''
    }
  },
  mounted () {
    document.getElementById('searchInput').focus()
  },
  domStreams: ['onKeyUp$'],
  subscriptions () {
    return {
      moviesList$: this.onKeyUp$
        .pluck('data')
        .debounceTime(450)
        .distinctUntilChanged()
        .filter(query => query.length > 2)
        .mergeMap(query => findMovies(query))
        .pluck('results')
    }
  },
  components: {
    MovieList
  }
}
</script>

<style lang="scss">
  .md-input-container input {
    font-size: 1rem;
  }
  .top-bar {
    padding: 1rem;
  }
</style>
