<template>
  <md-layout md-gutter md-align="center center">
    
    <div class="no-results" v-if="!movies">
      <span class="md-display-2">Type movie title into the searchbox!</span>
    </div>
    
    <div class="no-results" v-if="movies && !movies.length">
      <span class="md-display-2">No results ( ͡° ʖ̯ ͡°)</span>
    </div>
    
    <md-layout 
      md-flex-xsmall="100"
      md-flex-small="50"
      md-flex-medium="50"
      md-flex-large="50"
      md-flex-xlarge="33"
      v-for="movie in movies" :key="movie.id"
      md-whiteframe="10"
      md-align="center">

      <movie-card :movie="movie"></movie-card>

    </md-layout>

  </md-layout>
</template>

<script>

  import MovieCard from '@/components/MovieCard'

  export default {
    name: 'MovieList',
    props: ['movies'],
    components: {
      MovieCard
    }
  }
</script>

<style lang="scss">
  $backgroundDark: #2c3e50;

  .no-results {
    height: 100vh;
    text-align: center;
    vertical-align: middle;
    margin-top: 25vh;
  }

  .MovieDb {
    background-color: $backgroundDark;
  }
</style>
