<template>
  <md-card class="card">
    <md-card-media-cover md-solid>
      
      <md-card-media class="image-container" md-ratio="3:4">
        <img :src="images_uri + movie.poster_path" :alt="movie.title"/>
      </md-card-media>
      
      <md-card-area>
        <md-card-header>
          <div class="md-title">{{ movie.title }}</div>
          <div class="md-subhead">({{ movie.original_title }})</div>
        </md-card-header>

        <md-card-actions>
          <md-rating-bar v-model="movie.vote_average" :md-max-rating="10" class="md-warn" disabled></md-rating-bar>
        </md-card-actions>

        <md-card-content>
          <p class="md-body-2 movie-description">{{ movie.overview }}</p>
        </md-card-content>
        
        <md-card-actions>
          <md-button>read more</md-button>
        </md-card-actions>
      </md-card-area>
    </md-card-media-cover>
  </md-card>
</template>

<script>

  import config from '@/config'

  export default {
    name: 'MovieCard',
    data: function () {
      return {
        images_uri: `${config.images_uri}w500`
      }
    },
    props: ['movie']
  }
</script>

<style>
  .card {
    width: 35rem;
    margin: 2rem 0;
  }
  .movie-description {
    height: 12rem;
    overflow: hidden;
  }
  .md-card-media-cover {
    height: 100% !important;
  }
</style>
